/* Full page background image */
body {
  background-color: #fce8d7;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.navbar-custom {
  background-color: #f1ddc3; 
  background-image: url('images/border.png');
  background-size: contain;
  background-position: 20px 0px;
}

/* Make navbar text white */
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: #4e715d;
}


/* Optional: Slight hover effect */
.navbar-custom .nav-link:hover {
  color: #e69b75;
}

header, footer {
  background-color: #e32525;
  color: #b25555;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: #bf2b2b;
  text-decoration: none;
}

section {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

.squiggly-button {
  min-width: 10px;
  width: 95px;
  height: 130px;
  padding: 10px 10px;
  font-size: 20px;
  background: transparent;
  color: #2b5c3f;
  border: 1px solid transparent;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  letter-spacing: 0.78px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out, color 0.3s ease, background-color 0.3s ease;
  z-index: 1;
  display: flex;
  text-align: center; /* Center text */
  align-items: center;
  justify-items: center;
}

.squiggly-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('images/btn-green.png');
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
  z-index: 1; /* Ensure it's below the text */
  transition: opacity 0.3s ease;
  border-radius: 12px;
}

.squiggly-button:hover::before {
  opacity: 0.1;
}

.squiggly-button:hover {
  background: url('images/btn-orange.png');
  background-size: cover;
  background-position: center center; /* Center the background on hover */
  opacity: 1;
  color: none;
  transform: scale(1.1);
}


/* Ensure the text stays above the background */
.squiggly-button span {
  display: inline-block;
  transform: scale(0.71); /* Shrinks text to 85% of its size */
  transform-origin: center;
  position: relative;
  top: 10px;
}

.squiggly-button span-projects {
  display: inline-block;
  transform: scale(0.71); /* Shrinks text to 85% of its size */
  transform-origin: center;
  position: relative;
  top: 15px;
}

.squiggly-button span-blog {
  display: inline-block;
  transform: scale(0.74); /* Shrinks text to 85% of its size */
  transform-origin: center;
  position: relative;
  top: 9px;
  left: 17px;
}